[submodule "github_modules/Gdip"]
	path = github_modules/Gdip
	url = https://github.com/tariqporter/Gdip.git

[submodule "github_modules/OCR"]
	path = github_modules/OCR
	url = https://github.com/Descolada/OCR.git